#main_body{
    z-index: 1000;
    background: #222222;
}
/*#above_main{*/
    /*-webkit-transform: translateX(-100%);  !* Chrome, Opera 15+, Safari 3.1+ *!*/
    /*-ms-transform: translateX(-100%);  !* IE 9 *!*/
    /*transform: translateX(-100%);  !* Firefox 16+, IE 10+, Opera *!*/
/*}*/

.header{
    display: none;
    margin: 0 auto;
    width: 100%;
    height: 20vh;
    text-align: center;
    font-family:"Brush Script MT";
    background-image: url("");
    background:linear-gradient(#8C6F66,#5C5350);
    border: 10px solid black;

}

.first_part{
    display: none;
    margin: 0 auto;
    width: 80%;
    height: auto;
    background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcScVtAyceRnWZ92jVdNo94jNMRHKCaZ3ckFK9BxU5Vq4VC7Jzd1");
    opacity: 0.7;
    animation-duration: 1s;
    animation-name: fadeInpage;
    /*animation-fill-mode: forwards;*/
    -webkit-animation-duration: 1s;
    -webkit-animation-name: fadeInpage;
    /*-webkit-animation-fill-mode: forwards;*/
    -ms-animation-duration: 1s;
    -ms-animation-name: fadeInpage;
    /*-ms-animation-fill-mode: forwards;*/
}
@-webkit-keyframes fadeInpage{
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
/*.size{*/
    /*width: 50%;*/
    /*height: 350px;*/
    /*margin:0 auto;*/
/*}*/
.row{
    width:80%;
    height: 20%;
    border: 5px solid black;
    border-radius: 10px;
    margin: 1% auto;
    background-color:#C9A89D;
    opacity: 0.9;
}
.row:hover{
    animation: image_display;
    animation-duration: 2s;
    animation-iteration-count: infinite;    /*background-color: lightgray;*/
}
@-webkit-keyframes image_display {
    0%   {background-color: gainsboro; left:0px; top:0px;}
    25%  {background-color:#C9A89D; left:200px; top:0px;}
    50%  {background-color:lightgray; left:200px; top:200px;}
    75%  {background-color:gainsboro; left:0px; top:200px;}
    100% {background-color:#C9A89D; left:0px; top:0px;}
}
.first_part > .row > .cover{
    width: 30%;
    height: 100%;
    border: 1px solid black;
    border-radius: 100%;
}
.first_part > .row:nth-child(odd) > .cover {
    float: left;
}
.first_part > .row:nth-child(even) > .cover {
    float:right;
}
.first_part > .row > ul {
    text-align: center;
}
.first_part > .row:nth-child(odd) > ul {
    float: right;
    transform: translate(-10%,200%);
}
.first_part > .row:nth-child(even) > ul {
    float: left;
    transform: translate(10%,200%);
}
.cover:hover{
    opacity: 0.5;
    border: 10px solid black;

}
ul>li{
    list-style-type: square;
}

li > a{
    color:black;
    text-shadow: 4px 4px 2px gray;
    font-size: 3em;
    font-family:"Brush Script MT";
    //background: linear-gradient(lightgray,grey);
}
li>a:hover{
    font-size:3.3em ;
}
