
.header{
    margin: 0 auto;
    width: 100%;
    height: 40vh;
    background-image: url("");
    border: 10px solid black;
   // background-repeat:repeat ;
}
.first_part{
    margin: 0 auto;
    width: 80%;
    height: auto;
    background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcScVtAyceRnWZ92jVdNo94jNMRHKCaZ3ckFK9BxU5Vq4VC7Jzd1");
    opacity: 0.7;
}
/*.size{*/
    /*width: 50%;*/
    /*height: 350px;*/
    /*margin:0 auto;*/
/*}*/
.row{
    width:80%;
    height: 20%;
    border: 5px solid black;
    border-radius: 10px;
    margin: 1% auto;
    background-color: #C9A89D;
    opacity: .9;
    cursor: pointer;
}
.row:hover{
    animation: image_display;
    animation-duration: 3s;
    /*background-color: lightgray;*/
}
@-webkit-keyframes image_display {
    0%   {background-color: gainsboro; left:0px; top:0px;}
    25%  {background-color:#C9A89D; left:200px; top:0px;}
    50%  {background-color:lightgray; left:200px; top:200px;}
    75%  {background-color:gainsboro; left:0px; top:200px;}
    100% {background-color:#C9A89D; left:0px; top:0px;}
}
.first_img,.third_img,.fifth_img{
    width: 30%;
    height: 100%;
    border: 1px solid black;
    border-radius: 100%;
    float: left;
}
.song1_link,.song3_link,.song5_link{
    float: right;
    transform: translate(-10%,200%);
    text-align: center;
}
.second_img,.fourth_img{
    width: 30%;
    height: 100%;
    border: 1px solid black;
    border-radius: 100%;
    float:right;
}
.song2_link,.song4_link{
    float: left;
    transform: translate(10%,200%);
    text-align: center;
}
.cover:hover{
    opacity: 0.5;
    border: 10px solid black;

}
ul>li{
    list-style-type: square;
}

li > a, .box-text{
    color:black;
    text-shadow: 4px 4px 2px gray;
    font-size: 3em;
    font-family:"Brush Script MT";
    //background: linear-gradient(lightgray,grey);
}
li>a:hover{
    font-size:3.3em ;
}
.odd {

}
