#main_body{/*main page style*/
    height: 100%;
    z-index:1 ;
    background: #222222;
}
.header{/* header have liner color effect and some style*/
    margin: 0 auto;
    width: 100%;
    height: 20vh;
    text-align: center;
    font-family:"Brush Script MT";
    background-image: url("");
    background:linear-gradient(#8C6F66,#5C5350);
    border: 10px solid black;
}
.first_part{/*this first part is showing iTunes photos and album name, This is down the header*/
    margin: 0 auto;
    width: 80%;
    height: auto;
    background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcScVtAyceRnWZ92jVdNo94jNMRHKCaZ3ckFK9BxU5Vq4VC7Jzd1");
    opacity: 0.7;

}
.row{/*first part have rows with pitcher and album name in ul*/
    width:80%;
    height: 20%;
    border: 5px solid black;
    border-radius: 10px;
    margin: 1% auto;
    background-color: #C9A89D;
    opacity: .9;
    cursor: pointer;
}
.row:hover{/*row hover effect and it's infinite animation*/
    animation: image_display;
    animation-duration: 2s;
    animation-iteration-count: infinite;    /*background-color: lightgray;*/
}
@-webkit-keyframes image_display {/*row hover have this animation effect*/
    0%   {background-color: gainsboro; left:0px; top:0px;}
    25%  {background-color:#C9A89D; left:200px; top:0px;}
    50%  {background-color:lightgray; left:200px; top:200px;}
    75%  {background-color:gainsboro; left:0px; top:200px;}
    100% {background-color:#C9A89D; left:0px; top:0px;}
}
.first_part > .row > .cover{/*first part rows cover have these styling*/
    width: 30%;
    height: 100%;
    border: 1px solid black;
    border-radius: 100%;
}
.first_part > .row:nth-child(odd) > .cover, .evenImg{/*first part odd rows style*/
    float: left;
}
.first_part > .row:nth-child(even) > .cover, .oddImg{/*first part even rows style*/
    float:right;
}


.first_part > .row:nth-child(odd) > ul, .evenList{/*first part row un order for odd list style created dynamic class*/
    text-align: center;
    transform: translate(-10%,200%);
}
.first_part > .row:nth-child(even) > ul, .oddList {/*first part row un order for even list style dynamic class*/
    text-align: center;
    transform: translate(10%,200%);
}
.cover:hover{/*album image hover effect*/
    opacity: 0.5;
    border: 10px solid black;

}
ul>li{
    list-style-type: square;
}

li > a, .boxText{
    color:black;
    text-shadow: 4px 4px 2px gray;
    font-size: 3em;
    font-family:"Brush Script MT";
//background: linear-gradient(lightgray,grey);
}
li>a:hover{/*album name list hover effect*/
    font-size:3.3em ;
}

body::before,body::after{/*page load animation still in progress*/
    content: '';
    background: #222222;
    height: 100%;
    width: 50%;
    position: fixed;
    transition-duration: 4s;
    transform: translateX(0%);
    top: 0px;
    animation-delay: 3s;
    z-index: 1000;
}
body::before{
    right: 0px;
}
body::after{
    left: 0px;
}
.animate::before{
    transform: translateX(100%)!important;
}
.animate::after{
    transform: translateX(-100%)!important;
}


.vineDiv {
    display: block;
    width:33%;
    height: 33%;
    margin: auto;
}

/*.vineDiv iframe{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

.wrap {
    perspective: 253vw;
    perspective-origin: 152% -72vw;
    position: relative;
    left: 34%;
    top: 24%;

}
@keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}
.cube {
    position: relative;
    width: 20vh;
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
}
.cubediv {
    position: absolute;
    width: 26vh;
    height: 26vh;
    background-color: transparent;
    border: 3px solid black;

}
.back {
    transform: translateZ(-100px) rotateY(180deg);
}
.right {
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
}
.left {
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: left center;
}
.top {
    transform: rotateX(-90deg) translateY(-100px);
    transform-origin: top center;
}
.bottom {
    transform: rotateX(90deg) translateY(100px);
    transform-origin: bottom center;
}
.front {
    transform: translateZ(100px);
}


.infoSpan{
    font-size:14px;
    display:none;
    background:white;
    height:55px;
    position:relative;
    text-align:center;
    text-transform:uppercase;
    padding:0 10px;
}

.infoSpan:after{
    content:'';
    position:absolute;
    bottom:-10px;
    background:white;
    left:50%;
    margin-left:10px;
    transform:rotate(45deg);
}

.row:hover span{
    display:block;
    width:250px;
    float:right;
}